output {
  padding   : .3em;
  font-size : 1em;
}

.pull-left {
    display : inline-block;
}

.grid-container {
  display               : grid;
  grid-gap              : 5em;
  grid-template-columns : auto auto;
}

.header-item {
    grid-column : 1 / span 2;
}

.grid-auction-container {
  display  : grid;
  grid-gap : 1em;
}

.grid-bid-container {
    display  : grid;
  grid-template-rows    : auto auto auto;
}
